.template-card-tooltip-container button {
  background-image: url('/img/template-card/iconly-king.svg');
  width: 32px;
  height: 32px;
  background-size: contain;
  margin-top: -4px;
}

.template-card-tooltip-container button:hover {
  background-image: url('/img/template-card/iconly-king-hover.svg');
}
